<main>
        <div class="products-table">
            <table>
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>                    
                    <th>Product Price</th>
                    <th>Product Description</th>
                    <th>Actions</th>
                </tr>



                <tr *ngFor="let outfit of outfits">
                    <td> <img src="{{outfit.product_image_url}}" alt="" class="table-image"></td>
                    <td><h3>{{outfit.name}}</h3></td>
                    <td> <p>{{ outfit.price |currency }} </p></td>
                    <td>{{outfit.description}}</td>
                    <td> <button>Update</button> <button>Delete</button></td>
                </tr>
            </table>
        </div>
</main>