<!-- <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <mat-nav-list>
        <a mat-list-item routerLink="/admin/orders" routerLinkActive="active">Orders</a>
        <a mat-list-item routerLink="/admin/products" routerLinkActive="active">Products</a>
        <a mat-list-item routerLink="/admin/categories" routerLinkActive="active">Categories</a>
        <a mat-list-item routerLink="/admin/users" routerLinkActive="active">Users</a>
        <a mat-list-item routerLink="/admin/settings" routerLinkActive="active">Settings</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->

<main>
  <header>
    <h2>ADMIN PANEL</h2>
    <hr> <br>
  </header>

  <div class="admin-nav">


    <!-- <div class="nav-link">
      <p routerLink="cart">Add Products</p>
    </div> -->

    <div class="nav-link">
      <p routerLink="products">Products</p>
    </div>

    <!-- <div class="nav-link">
      <p>Orders</p>
    </div> -->

    <div class="nav-link">
      <p routerLink="users">Users</p>
    </div>

  </div>

</main>

<router-outlet></router-outlet> 
