main{
  padding: 30px;
  text-align: center;
}

.nav-link p{
font-weight: 900;
font-size: large;
}

.nav-link p:hover{
  color: blueviolet;
  }

.admin-nav{
 display: flex;
 justify-content: space-around;
}