main{ 
  padding: 30px;   
  padding-bottom: 50px;
}

.form-image{ 
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }
  
  .image img{ 
     width: 324px; 
     height: 315px;   
  }
  .image{ 
      padding: 10px;   
   }
  
  form{ 
      padding: 5px;
  
   }
  .form-group{ 
      display: flex;
      flex-direction: column; 
      font-size: larger;
   }
  
   .form-group label{ 
     color: blueviolet;
     margin-top: 2px;
   }
  
   .form-group .inputs{ 
      width: 400px;
      height: 40px;
    }
  
  .form-group button{ 
  background-color: green;
  border: none;
  color: white;
  font-weight: 800;
  padding: 10px;
  }
  
  .error{ 
     color: red;
     font-weight: 900;
  }
  
  input.ng-invalid.ng-touched{ 
     border: 5px solid red ;   
  }
  
  textarea.ng-invalid.ng-touched{ 
      border: 5px solid blue ;   
   }

   .newControl{ 
    display: flex;  
    gap: 2px ;
    margin-top: 2px;
  }

  .newControl .close{ 
    background-color: red;
    color: white;   
    padding:5px;
   }

   .sign-in-link:hover{ 
     color: blueviolet;
   }

   .sign-in-link{ 
    color: orangered;
    cursor: progress;
  }


   
 
  
   
  
  /* .invalid{ 
      background-color: grey;
      border: 1px solid grey;
      color: red; 
   }
   
  
   .valid{ 
      background-color: green;
      border:none;
      color: white; 
   }
    */
  