<main>
    <div class="cart-section">
        <h2>Classic Spring</h2>
        <hr> <br>

        <div class="cart-product-details">

            <div class="image-details">

                <div class="product-image">
                    <img src="../../assets/images/mensection.png" alt="">
                </div>

                <div class="product-details">
                    <h2>Classic Spring</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, beatae. Ea, similique illum. Amet quidem expedita debitis qui, repudiandae deserunt culpa incidunt natus illo, quam possimus! Cumque nostrum hic, iste repudiandae dolorem magnam cum quos! Illum neque tempora quasi magnam?</p>



                    <div class="total-cart">
           
                        <div class="total-price">
                            <p>2500 KSHS</p>
            
                        </div>
            
                        <div class="add-to-cart">
                            <button>Add To Cart<i class="fa-solid fa-cart-shopping"></i></button>
                        </div>
            
            
                    </div> 
                </div>

            </div>

        </div> <br>


           

    </div>

</main>
