<div class="navbar">
<div class="logo">
    Ngara Online Shop
</div>
<div class="nav">
    Home 
</div>

<div>
  

        <details>
            <summary>Shop</summary>
<p>Men</p>
<p>Women</p>
<p>Kids</p>
        </details>
</div>
<div>
    <summary>
        <details>
            <summary>Pages</summary>
            <p>Categories</p>
            <p>Home</p>
            <p>Cart</p>
        </details>
    </summary>
</div>
<div>
    <input type="text" name="search" id="searchbar" placeholder="search bar">
    
</div>
<div class="cartdiv">
    <p>H<img src="/frontend/src/assets/heart.svg" alt=""></p>
    <p>P<img src="/frontend/src/assets/person.svg" alt=""></p>
    <p>C<img src="/frontend/src/assets/cart.svg" alt=""><sup class="itemsincart">2</sup></p>
</div>
</div>