<main>

    <div class="main-intro">

        <div class="section-1">
            <div class="section-1-text">
                <h2>Welcome to <br> <span class="shopName">Ng'ara</span> </h2>
                <h4>Number One Online Shop</h4>
                <button> Purchase Now</button>
            </div>

        </div>

        <div class="section-2">

            <div class="mens-section">
                <h1>Men's <br> Clothes</h1>
            </div>

            <div class="womens-section">

                <h1>Women's <br>Clothes</h1>

            </div>
        </div>

        <div class="section-3">

            <div class="kids-section">
                <h1>Kid's <br>Clothes</h1>
            </div>

            <div class="trends-section">
                <h1>Best <br>Trends</h1>
            </div>
        </div>
    </div>

    <div class="main-men-section" id="men">

        <div class="section-4" align="center">
            <h1>Ng'ara Products</h1>
            <p>Shop with ease online is 24/7</p>
        </div>

        <div class="section-5">

            <div class="card1-men-section" *ngFor="let outfit of outfits">
                <img src="{{outfit.product_image_url}}" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>{{outfit.name}}</h3>
                       <p>{{ outfit.price |currency }} </p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>
            </div>               
        </div>
    </div>
</main>