<main>

    <div class="main-intro">

        <div class="section-1">
            <div class="section-1-text">
                <h2>Welcome to <br> <span class="shopName">Ng'ara</span> </h2>
                <h4>Number One Online Shop</h4>
                <button> Purchase Now</button>
            </div>

        </div>

        <div class="section-2">

            <div class="mens-section">
                <h1>Men's <br> Clothes</h1>
            </div>

            <div class="womens-section">

                <h1>Women's <br>Clothes</h1>

            </div>
        </div>

        <div class="section-3">

            <div class="kids-section">
                <h1>Kid's <br>Clothes</h1>
            </div>

            <div class="trends-section">
                <h1>Best <br>Trends</h1>
            </div>
        </div>
    </div>

    <div class="main-men-section">

        <div class="section-4">
            <h1>Men’s Latest</h1>
            <p>Shop with ease online is 24/7</p>
        </div>

        <div class="section-5">
            <div class="card1-men-section">
                <img src="../../assets/images/mensection.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="card2-men-section">
                <img src="../../assets/images/mensection.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>


            <div class="card3-men-section">
                <img src="../../assets/images/mensection.png" alt="">
                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="card3-men-section">
                <img src="../../assets/images/mensection.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="main-women-section">

        <div class="section-4">
            <h1>Women’s Latest</h1>
            <p>Upgrade your style with our online store</p>
        </div>

        <div class="section-5">
            <div class="card1-men-section">
                <img src="../../assets/images/Rectangle 15.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="card2-men-section">
                <img src="../../assets/images/Rectangle 15.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>


            <div class="card3-kids-section">
                <img src="../../assets/images/Rectangle 15.png" alt="">
                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="card3-men-section">
                <img src="../../assets/images/Rectangle 15.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class="main-kids-section">

        <div class="section-4">
            <h1>Kid’s Latest </h1>
            <p>Shop with Ease </p>
        </div>
        <div class="section-5">
            <div class="card1-men-section">
                <img src="../../assets/images/Rectangle 18.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="card2-men-section">
                <img src="../../assets/images/Rectangle 18.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>


            <div class="card3-men-section">
                <img src="../../assets/images/Rectangle 18.png" alt="">
                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>

            <div class="card3-men-section">
                <img src="../../assets/images/Rectangle 18.png" alt="">

                <div class="product-details">

                    <div class="product-name-price">
                       <h3>Classic Spring</h3>
                       <p>$120.00</p>
                    </div>

                    <div class="product-rating-cart">
                        <h4 class="ratings">
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                            <i class="fa-solid fa-star ratings-icon"></i>
                        </h4>

                        <div class="cart-button">
                            <button>Add Cart</button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</main>