<footer>

    <div class="contact-links">

        <div class="location">

            <div class="logo">
               <p>
                Ng'ara <br> Online Shop
               </p>
            </div>

            <p>Naivas Building <br> Nyeri, Kenya</p>
            <p>ngaraonlineshop@gmail.com</p>
            <p>+254-1104567389</p>
        </div>

        <div class="categories">
            <p>Categories</p>
            <p>Men's Shopping</p>
            <p>Women's Shopping</p>
            <p>Kid's Shopping</p>
        </div>

        <div class="links">
            <p>Useful Links</p>
            <p>Home Page</p>
            <p>About Us</p>
            <p>Help</p>
            <p>Contact Us</p>
        </div>

        <div class="links">
            <p>Help and Information</p>
            <p>Help</p>
            <p>FAQ's</p>
            <p>Shipping</p>
            <p>Tracking ID</p>
        </div>


    </div>

    <hr>

    <div class="social-media">
        <p>Copyright@2023 Ng'araOnlineShop Co, Ltd All Rights Reserved</p>

        <div class="social-media-icons">
            <div class="icon"> <i class="fa-brands fa-facebook"></i></div>
            <div class="icon"> <i class="fa-brands fa-twitter"></i></div>
            <div class="icon"> <i class="fa-brands fa-linkedin"></i></div>
            <div class="icon"> <i class="fa-brands fa-whatsapp"></i>
            </div>        
        </div>
    </div>

</footer>