<main>
    <div class="cart-section">
        <h2>Cart</h2>
        <hr> <br>

        <div class="cart-product-details">

            <div class="image-details">

                <div class="product-image">
                    <img src="../../assets/images/mensection.png" alt="">
                </div>

                <div class="product-details">
                    <h2>Classic Spring</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>

            </div>

            <div class="cart-price">
                <p>$120.00</p>
            </div>

        </div> <br>


        <div class="remove-add">
            <div class="remove-icon"> 
                <h2> <i class="fa-solid fa-trash  remove-button"> </i>&nbsp;&nbsp;&nbsp;Remove</h2>
            </div>

            <div class="add-remove-cart">
                <div class="adding">
                    <i class="fa-solid fa-square-minus"></i>
                </div>

              <h3>2</h3>

                <div class="adding">
                    <i class="fa-solid fa-square-plus"></i>
                </div>             
            </div>


        </div>


       

    </div>

    <div class="checkout-section">

        <h2>Cart Summary</h2>
        <hr>
        <div class="title-total">
            <div class="heading-total">
                <p>Subtotal</p>
            </div>

            <div class="total-price">
                2500 Kshs
            </div>
        </div>

        <button>Checkout(2500)</button>

    </div>

</main>