<app-navbar></app-navbar>
<div class="container">
    <div class="productdesc">
        <div class="productimg">
<img src="" alt="hello">
        </div>
        <div class="properties">
            <p>SONY PLAYSTATION 4 PRO  (WHITE)</p>
        </div>
        <div class="singlePrice">
            <p>50000</p>
        </div>
    </div>
    <div class="producttotal">
        <p>Total For (4) Items</p>
        <p>Ksh   50000</p>
        <hr>
        <button class="checkoutbtn">Proceed To Checkout</button>
    </div>
</div>


